@page
@model AdminLogInModel
@{
}

<h2 class="display-6 mb-3 text-center">Admin Log ind</h2>

<div class="mycontainer_container">
    <div>
        @Model.Message
    </div>
    <form method="post">
        <div class="form-group mb-3">
            <label asp-for="Email" class="control-label "></label>
            <input asp-for="Email" class="form-control" />
        </div>
        <div class="form-group mb-3">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" />
        </div>
        <div class="form-group mb-3">
            <input type="submit" value="Log ind" class="btn btn-basic" style="background-color:#fff387" />
        </div>
        <div class="row">
            <div class="col-5"><hr></div>
            <div class="col-1 text-centre">ELLER</div>
            <div class="col-5"><hr></div>
        </div>

        <div>
            <p>
                <a id="login" class="a-link" asp-page="./LogInPage">Log ind</a>
            </p>
            <p>
                <a id="instructor-login" class="a-link" asp-page="./InstructorLogIn">Underviser Log ind</a>
            </p>
            <p>
                <a asp-page="/Register/RegisterPage" class="a-link" asp-route-returnUrl="">Opret ny bruger</a>
            </p>
        </div>
    </form>
</div>