@page
@model DeleteModel
@{
}

<h2 class="display-6 mb-3 text-center">Slet Underviser</h2>

<div class="alert alert-danger">
	<h5>Er du sikker på at du vil slette @Model.Data.Name (Instructor)</h5>
	<form method="post">
		<button type="submit" class="btn btn-outline-danger mt-3">Ja</button>
		<a class="btn btn-outline-primary mt-3" style="background-color:#fff387" asp-page="/Admin/All">Nej</a>
	</form>
</div>