@page
@model E_Learning.Pages.Favorites.AllModel
@{
}

<h1 class="display-3 mb-5">Tilføjede kurser</h1>

<div class="container">
    <div class="row">
        @foreach (var courseId in Model.Data
        .Where(f => f.UserId == LogInPageModel.LoggedInUser.Id)
        .Select(f => f.CourseId)
        .Distinct())
        {
            var course = Model.Data.FirstOrDefault(f => f.CourseId == courseId);
            if (course != null)
            {
                <h5>@(course.Course.Name) </h5>
                <div class="d-flex justify-content-between">
                    <div>
                        <a class="btn btn-outline-secondary btn-sm" type="button" title="View" asp-page="View" asp-route-id="@course.Id"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-outline-primary btn-sm" type="button" title="Edit" asp-page="Edit" asp-route-id="@course.Id"><i class="fa fa-edit"></i></a>
                        <a class="btn btn-outline-danger btn-sm" type="button" title="Delete" asp-page="Delete" asp-route-id="@course.Id"><i class="fa fa-trash"></i></a>
                    </div>
                </div>
            }
        }
    </div>
</div>
