@page
@model E_Learning.Pages.Favorites.AllModel
@{
}

<h1 class="display-3 mb-5">Tilføjede kurser</h1>

<div class="container">
    <div class="row">
        @foreach (var courseId in Model.Data
        .Where(f => f.UserId == LogInPageModel.LoggedInUser.Id)
        .Select(f => f.CourseId)
        .Distinct())
        {
            var course = Model.Data.FirstOrDefault(f => f.CourseId == courseId);
            if (course != null)
            {
                <h5>@(course.Course.Name) </h5>
                <div class="d-flex justify-content-between">
                    <div>
                        @foreach (var exercise in course.Course.Exercises)
                        {
                            <h6>@exercise.Name</h6>
                            <p>@exercise.Description</p>
                            <!-- You can include other exercise details here -->
                        }
                    </div>
                </div>
            }
        }
    </div>
</div>
