@page
@model ProfilePageModel
@{
    ViewData["Title"] = "Profile";
}

<h1>Velkommen til din profil, @LogInPageModel.LoggedInUser.Name</h1>
<!-- Display user-specific profile information here -->

<button class="btn btn-outline-info btn-sm" type="submit" style="background-color:#fff387" title="Favorite">
    <i class="fa fa-star"></i>
</button>
<ul>
    
</ul>
