@page
@model ProfilePageModel
@{
}

<h1>Velkommen til din profil, @LogInPageModel.LoggedInUser.Name</h1>

<div class="d-flex btn-container">
    <a href="/Favorites/All" class="btn btn-lg">
        <img src="~/Images/star.png" alt="Favorites">
        <h1 class="display-6 mb-3 text-center">Favoritter</h1>
    </a>

    <a href="/ExerciseStatuses/All" class="btn btn-lg">
        <img src="~/Images/graph.png" alt="Exercise Statuses">
        <h1 class="display-6 mb-3 text-center">Progression</h1>
    </a>

    <a href="/Courses/All" class="btn btn-lg">
        <img src="~/Images/plus.png" alt="Plus">
        <h1 class="display-6 mb-3 text-center">Tilføj Favoritter</h1>
    </a>
</div>

