@page
@model ProfilePageModel
@{
    ViewData["Title"] = "Profile";
}

<h1>Velkommen til din profil, @LogInPageModel.LoggedInUser.Name</h1>
<!-- Display user-specific profile information here -->

@*<style>
    .btn-lg {
        border: none !important;
        box-shadow: none !important;
        padding: 0;
    }

    .btn-container {
        display: flex;
        justify-content: space-between;
    }

        .btn-container .btn {
            margin-right: 25px;
        }

        .btn-lg h4 {
            margin: 0;
            font-size: 20px;
        }
</style>

<div class="d-flex btn-container">
    <a href="/Favorites/All" class="btn btn-lg" style= "display: flex; justify-content: center; align-items: center;">
        <h4>Favoritter</h4>
        <img src="~/Images/star.png" alt="Favorites" style="width: 200px; height: 200px;">
    </a>

    <a href="/ExerciseStatuses/All" class="btn btn-lg" style="display: flex; justify-content: center; align-items: center;">
        <img src="~/Images/graph.png" alt="Exercise Statuses" style="width: 200px; height: 200px;">
    </a>

    <a href="/ExerciseStatuses/All" class="btn btn-lg" style="display: flex; justify-content: center; align-items: center;">
        <img src="~/Images/plus.png" alt="Plus" style="width: 200px; height: 200px;">
    </a>
</div>*@

<style>
    .btn-lg {
        border: none !important;
        box-shadow: none !important;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .btn-container {
        display: flex;
        justify-content: space-between;
    }

    .btn-container .btn {
            margin-right: 25px;
        }

        .btn-lg h1 {
            margin: 0;
            font-size: 25px;
        }

        .btn-lg img {
            width: 200px;
            height: 200px;
        }
</style>

<div class="d-flex btn-container">
    <a href="/Favorites/All" class="btn btn-lg">
        <img src="~/Images/star.png" alt="Favorites">
        <h1 class="display-6 mb-3 text-center">Favoritter</h1>
    </a>

    <a href="/ExerciseStatuses/All" class="btn btn-lg">
        <img src="~/Images/graph.png" alt="Exercise Statuses">
        <h1 class="display-6 mb-3 text-center">Progression</h1>
    </a>

    <a href="/Courses/All" class="btn btn-lg">
        <img src="~/Images/plus.png" alt="Plus">
        <h1 class="display-6 mb-3 text-center">Tilføj Favoritter</h1>
    </a>
</div>

