@page
@model IndexModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" />
</head>
<body>
    @*Forside - Introduktion - Om Zealands E-Lærings Portal*@
    <div class="header">
        <h1 class="display-6 mb-3 text-center">Velkommen til Zealands E-lærings Portal</h1>
        <img src="~/Images/zealand.png" style="display: block;
        margin: 0 auto;
        max-height: 100%;
        max-width: 100%; height: 65vh; width: 160vh; background-size: 100% auto; background-position: center; filter: brightness(90%); background-repeat: no-repeat;" alt="Zealand">
    </div>
    
    <div class="d-flex btn-container">

        <a href="/Exercises/All" class="btn btn-lg">
            <img src="~/Images/Task.png" alt="Opgave">
            <h1 class="display-6 mb-3 text-center">Opgaveoversigt</h1>
        </a>
        <a href="/Educations/All" class="btn btn-lg">
            <img src="~/Images/education.png" alt="Task">
            <h1 class="display-6 mb-3 text-center">Uddannelser</h1>
        </a>
        <a href="/Courses/All" class="btn btn-lg">
            <img src="~/Images/course.png" alt="Task">
            <h1 class="display-6 mb-3 text-center">Kurser</h1>
        </a>
    </div>


   @*Forside - Hvad Zealands E-Lærings Portal tilbyder*@
   <div class= "container mt-5">
        <h2 class="display-6 mb-3 text-center">Hvad Zealands E-Lærings Portal tilbyder </h2>
        <p>Du kan vælge uddannelser på erhvervsakademisk niveau 
           og læse videre på en Top-Up bachelor - 
           eller du kan vælge en fuld professionsbachelor.
        </p>     
   </div>
  
    @*Uddannelser*@
    <div class="row">
        <div class="col-md-4">
            <div class="textbox">
                <h4 class="display-6 mb-3 text-center">Erhvervsakademisk Uddannelse</h4>
                <p>
                    Du kan vælge uddannelser på erhvervsakademisk niveau
                    og læse videre på en Top-Up bachelor -
                    eller du kan vælge en fuld professionsbachelor.
                </p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="textbox">
                <h4 class="display-6 mb-3 text-center">Top-Up Bachelor</h4>
                <p>
                    Du kan vælge uddannelser på erhvervsakademisk niveau
                    og læse videre på en Top-Up bachelor -
                    eller du kan vælge en fuld professionsbachelor.
                </p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="textbox">
                <h4 class="display-6 mb-3 text-center">Professionsbachelor</h4>
                <p>
                    Du kan vælge uddannelser på erhvervsakademisk niveau
                    og læse videre på en Top-Up bachelor -
                    eller du kan vælge en fuld professionsbachelor.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="textbox">
                <h4 class="display-6 mb-3 text-center">Efteruddannelse</h4>
                <p>
                    Du kan vælge uddannelser på erhvervsakademisk niveau
                    og læse videre på en Top-Up bachelor -
                    eller du kan vælge en fuld professionsbachelor.
                </p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="textbox">
                <h4 class="display-6 mb-3 text-center">Lederuddannelse</h4>
                <p>
                    Du kan vælge uddannelser på erhvervsakademisk
                    og læse videre på en Top-Up bachelor -
                    eller du kan vælge en fuld professionsbachelor.
                </p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="textbox">
                <h4 class="display-6 mb-3 text-center">Kurser</h4>
                <p>
                    Du kan vælge uddannelser på erhvervsakademisk niveau
                    og læse videre på en Top-Up bachelor -
                    eller du kan vælge en fuld professionsbachelor.
                </p>
            </div>
        </div>
    </div>


    @*Forside - Hvordan Zealands E-Lærings Portal uddanner de studerende*@
    <div class="container mt-5">
        <h2 class="display-6 mb-3 text-center">Hvordan Zealands E-Lærings Portal uddanner de studerende</h2>
    </div>


    <div class="row">
        <div class="col-md-6">
            <h4 class="display-6 mb-3 text-center">Erhvervslivet</h4>
            <p> 
                Du kan vælge uddannelser på erhvervsakademisk niveau
                og læse videre på en Top-Up bachelor -
                eller du kan vælge en fuld professionsbachelor.
            </p>
        </div>

        <div class="col-md-6">
            <h3 class="display-6 mb-2 text-center">Udviklingsproces</h3>
                <p>
                    Du kan vælge uddannelser på erhvervsakademisk niveau
                    og læse videre på en Top-Up bachelor -
                    eller du kan vælge en fuld professionsbachelor.
                </p>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>

</body>
</html>