@page
@model IndexModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css" />
</head>
<body>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
            </ul>
        </div>


<style>
    body {
        margin: 0;
        padding: 0;
    }

    .header {
        position: relative;
        height: 100vh;
        background-image: url('https://www.zealand.dk/wp-content/uploads/2019/03/nytbyggeriikoege-sydoest.jpg');
        background-size: cover;
        background-position: center;
        opacity: 1.0;
        filter: brightness(90%);
    }

        .header h1 {
            position: absolute;
            top: 5%;
            left: 33.5%;
            transform: translate(-50%, -50%);
            color: white;
        }

        .header h4 {
            position: absolute;
            bottom: 27%;
            left: 70.4%;
            transform: translate(-50%, -50%);
            color: white;
        }

        .header h6 {
            position: absolute;
            bottom: 23%;
            left: 65%;
            transform: translate(-50%, -50%);
            color: white;
        }

    .content {
        padding: 20px;
    }
</style>
    @*Forside - Introduktion - Om Zealands E-Lærings Portal*@
    <div class="header">
        <h1 class="mb-3 text-center">Velkommen til Zealands E-lærings Portal</h1>
        <h4 class="mb-3">Om Zealands E-Lærings Portal</h4>
        <h6 class="mb-3 text-center">Test</h6>
    </div>
    
   @*Forside - Hvad Zealands E-Lærings Portal tilbyder*@
   <div class= "container mt-5">
      <h2 class= "mb-3 text-center">Hvad Zealands E-Lærings Portal tilbyder </h2>
        <p>Du kan vælge uddannelser på erhvervsakademisk niveau 
           og læse videre på en Top-Up bachelor - 
           eller du kan vælge en fuld professionsbachelor.
        </p>     
   </div>
  
    @*Uddannelser*@
    <div class="row">
        <div class="textbox">
            <div class="col-md-4">
                <h3>Erhvervsakademisk Uddannelse</h3>
            <p>
                Du kan vælge uddannelser på erhvervsakademisk niveau
                og læse videre på en Top-Up bachelor -
                eller du kan vælge en fuld professionsbachelor.
            </p>
            </div>
        </div>
        
        <div class="col-md-4">
            <h3>Top-Up Bachelor</h3>
            <p>
                Du kan vælge uddannelser på erhvervsakademisk niveau
                og læse videre på en Top-Up bachelor -
                eller du kan vælge en fuld professionsbachelor.
            </p>
            
        </div>

        <div class="col-md-4">
                <h3>Professionsbachelor</h3>
                <p>
                    Du kan vælge uddannelser på erhvervsakademisk niveau
                    og læse videre på en Top-Up bachelor -
                    eller du kan vælge en fuld professionsbachelor.
                </p>
                
        </div>

        <div class="col-md-4">
                    <h3>Efteruddannelse</h3>
                    <p>
                        Du kan vælge uddannelser på erhvervsakademisk niveau
                        og læse videre på en Top-Up bachelor -
                        eller du kan vælge en fuld professionsbachelor.
                    </p>
                    
        </div>

        <div class="col-md-4">
                        <h3>Lederuddannelse</h3>
                        <p>
                            Du kan vælge uddannelser på erhvervsakademisk 
                            og læse videre på en Top-Up bachelor -
                            eller du kan vælge en fuld professionsbachelor.
                        </p>
                        
        </div>

        <div class="col-md-4">
                        <h3>Kurser</h3>
                        <p>
                            Du kan vælge uddannelser på erhvervsakademisk niveau
                            og læse videre på en Top-Up bachelor -
                            eller du kan vælge en fuld professionsbachelor.
                        </p>
        </div>
    </div>

    @*Forside - Hvordan Zealands E-Lærings Portal uddanner de studerende*@
    <div class="container mt-5">
        <h2 class="mb-3 text-center">Hvordan Zealands E-Lærings Portal uddanner de studerende</h2>
    </div>


    <div class="row">
        <div class="col-md-6">
            <h3 class="display-6 mb-3 text-center">Erhvervslivet</h3>
            <p> 
                Du kan vælge uddannelser på erhvervsakademisk niveau
                og læse videre på en Top-Up bachelor -
                eller du kan vælge en fuld professionsbachelor.
            </p>
        </div>

        <div class="col-md-6">
                <h3>Udviklingsproces</h3>
                <p>
                    Du kan vælge uddannelser på erhvervsakademisk niveau
                    og læse videre på en Top-Up bachelor -
                    eller du kan vælge en fuld professionsbachelor.
                </p>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.3/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>

</body>
</html>